.Modal {
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ModalOpen {
    display: block;
}

.ModalClosed {
    display: none;
}

.closeModal {
    color: red;
    cursor: pointer;
}